[Libraries to ignore]
[Libraries to ignore]
/Library/
/Temp/
/Obj/
/Build/
/Logs/
/UserSettings/
/QCAR/
/Packages/com.ptc.vuforia.engine-*.tgz


# Visual Studio / VS Code
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo

# Mac or Windows system files
.DS_Store
Thumbs.db
